

<div class="container">
    <div class="detail-wrapper">
        <div class="detail-left">
            <div class="image-box">
                <img src="/img/{{book.image_url}}" alt="{{book.title}}">
            </div>
        </div>

        <div class="detail-right">
            <h1 class="book-title-detail">{{book.title}}</h1>
            <p class="author-info">Tác giả: {{book.author}}</p>
            
            <div class="divider"></div>

            <div class="description-section">
                <h5>Giới thiệu nội dung</h5>
                <p class="description-text">{{book.description}}</p>
            </div>

            <div class="action-buttons">
                <a href="#" class="btn-custom btn-buy">Đọc ngay</a>
                <a href="/" class="btn-custom btn-back-home">Trở lại</a>
            </div>
        </div>
    </div>
</div>