<div class="row">
    {{#each books}}
    <div class="col-md-4">
        <img src="/img/{{this.image_url}}" alt="{{this.title}}" style="width:150px;">
        <h3>{{this.title}}</h3>
        <p>tac gia: {{this.author}}</p>
        <p>{{this.description}}</p>
        <p><strong>Giá: </strong><span>{{this.price}} VNĐ</span></p>
        <button class="btn btn-primary">Mua ngay</button>
    </div>
    {{/each}}
</div>